@import url("https://use.typekit.net/jmk3xov.css");

/* Adjust styles for screens less than 600px wide */
@media only screen and (max-width: 600px) {
  main {
    padding: 60px 0; /* Reduce padding for smaller screens */
  }

  header {
    font-size: 2rem; /* Decrease header font size for smaller screens */
  }

  section {
    font-size: 1rem; /* Decrease section font size for smaller screens */
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

/* Define the animation for fading out */
@keyframes fadeOutAnimation {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* Add the fade-in and fade-out animations to the section with class "light" */
.light-show {
  animation: fadeInAnimation 0.5s ease-out forwards;
}

.light-hidden {
  animation: fadeOutAnimation 0.5s ease-out forwards;
}


title {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .hidden {
    opacity: 0;
    display: none;
  }

  .hidden-info {
    position: fixed;
    top: 20px; /* Adjust the top distance as needed */
    left: 20px; /* Adjust the left distance as needed */
    z-index: 999; /* Ensure it's on top of other elements */
    opacity: 0;
    display: none;
    transition: opacity 1s ease;
    animation: fadeOutAnimation 1s ease-out forwards;
  }

  .hidden-info-show {
    position: fixed;
    top: 20px; /* Adjust the top distance as needed */
    left: 20px; /* Adjust the left distance as needed */
    z-index: 999; /* Ensure it's on top of other elements */
    opacity: 1;
    display: block;
    transition: opacity 1s ease;
    animation: fadeInAnimation 1s ease-out forwards;
  }

  .hidden-showinfo {
    position: fixed;
    top: 20px; /* Adjust the top distance as needed */
    left: 110px; /* Adjust the left distance as needed */
    z-index: 999; /* Ensure it's on top of other elements */
    opacity: 0;
    display: none;
    transition: opacity 1s ease;
    animation: fadeOutAnimation 1s ease-out forwards;
  }

  .hidden-showinfo-show {
    position: fixed;
    top: 20px; /* Adjust the top distance as needed */
    left: 110px; /* Adjust the left distance as needed */
    z-index: 999; /* Ensure it's on top of other elements */
    opacity: 1;
    display: block;
    transition: opacity 1s ease;
    animation: fadeInAnimation 1s ease-out forwards;
  }

  .info-show {
    position: fixed;
    top: 100px; /* Adjust the top distance as needed */
    left: 20px; /* Adjust the left distance as needed */
    right: 60%;
    z-index: 999; /* Ensure it's on top of other elements */
    opacity: 1;
    display: block;
    transition: opacity 1s ease;
    animation: fadeInAnimation 1s ease-out forwards;
    max-height: 620px; /* Set the maximum height for the section */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }

  
  .hidden-planetinfo {
    background-color: transparent;
    font-size: 70px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    position: fixed;
    top: 10%; /* Position the button 50% from the top of the screen */
    left: 50%; /* Position the button 50% from the left of the screen */
    transform: translate(-50%, -50%);
    z-index: 999; /* Ensure it's on top of other elements */
    opacity: 0;
    display: none;
    transition: opacity 1s ease;
    animation: fadeOutAnimation 1s ease-out forwards;
    
  }

  .hidden-planetinfo-show {
    background-color: transparent;
    font-size: 70px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
    0px 0px 20px #b393d3;
    position: fixed;
    top: 10%; /* Position the button 50% from the top of the screen */
    left: 50%; /* Position the button 50% from the left of the screen */
    transform: translate(-50%, -50%);
    z-index: 999; /* Ensure it's on top of other elements */
    opacity: 1;
    display: block;
    transition: opacity 1s ease;
    animation: fadeInAnimation 1s ease-out forwards;
    
  }

  .left {
    grid-column: 6 / 12;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #20f42b; 
    transform: scale(1.10); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  }
  
  .divider {
    width: 100%;
    max-width: 900px;
    height: 1px;
    margin: 30px auto;
    background-color: #ccc;
  }

  .planet-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .planet-buttons button {
    width: 120px;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .planet-title {
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    left: 50%; /* Center the title horizontally */
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    display: none; /* Hide the title by default */
  }